<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219036330580-bi518ohop7dugn53f6ulf14p5h883rtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219036330580-bi518ohop7dugn53f6ulf14p5h883rtt</string>
	<key>API_KEY</key>
	<string>AIzaSyA83b_PPFf6OCE8gDnZyCaH99xRDoshQIo</string>
	<key>GCM_SENDER_ID</key>
	<string>219036330580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idadelveloper.gradish</string>
	<key>PROJECT_ID</key>
	<string>gradish</string>
	<key>STORAGE_BUCKET</key>
	<string>gradish.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219036330580:ios:8f2ac448a188dd52ab9bc1</string>
</dict>
</plist>